<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Alegreya&family=Alegreya+Sans&family=Merriweather&family=Merriweather+Sans&family=Nunito&family=Nunito+Sans&family=Quattrocento&family=Quattrocento+Sans&family=Roboto&family=Roboto+Mono&family=Roboto+Slab&display=swap" rel="stylesheet">
  <style>

  .center {
    margin: auto;
    width: 40%;
  }

  .title {
    font-weight: 800;
    line-height: 1.5;
    font-family: 'Merriweather Sans', sans-serif;
  }

  .main_box{
      height: 80vh;
      margin-top: 15vh;
      margin-bottom: 15vh;
      margin-right: 5vh;
      margin-left: 5vh;
      display: block;
      background-color: white;
      border-radius: 20px;
      padding: 1em;
      width: auto;
      box-shadow: 0px 0px 10px -4px grey;
      text-align: center;
  }


  }
  </style>
  </head>
  <body>

    <div class="main_box">
      <form action="{{ url_for('home') }}" method="GET">

        <button type="button" class="btn btn-primary btn-lg">Back to Home Page </button>
    </form>
    </div>

  </body>
</html>
